body{
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
h1{
    font-family: 'Courier New';
    color:#A69B4D;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
h2{
    color:rgb(68, 161, 76);
    font-size: 35px;
    margin: 0%;
    padding: 0%;
}
h3{
    color:rgb(68, 161, 76);
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #B9A20B;
    font-size: 18px;
    margin: 0%;
    padding: 0%;
}
#Left{
    text-align: right;
    font-size: 18px;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  * {
    box-sizing: border-box;
  }
  ul{
    font-family: Arial, Helvetica, sans-serif;
    color: #B9A20B;
    font-size: 18px;

  }
  .email{
    text-align: right;
    font-size: 18px;
  }
  a:hover { 
    color: rgb(0, 47, 255);
  }
  .button {
    background-color:transparent;
    border: none;
    color:#B9A20B;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
